@define-color accent {{colors.secondary_fixed.default.hex}};
@define-color primary {{colors.primary_fixed.default.hex}};
@define-color secondary {{colors.secondary_fixed.default.hex}};
@define-color success {{colors.tertiary_fixed.default.hex}};
@define-color background {{colors.background.default.hex}};
@define-color surface {{colors.surface.default.hex}};
@define-color surface-variant {{colors.surface_variant.default.hex}};
@define-color on-primary {{colors.on_primary.default.hex}};
@define-color on-secondary {{colors.on_secondary.default.hex}};
@define-color on-surface {{colors.on_surface.default.hex}};
@define-color on-surface-variant {{colors.on_surface_variant.default.hex}};
@define-color outline {{colors.outline.default.hex}};
@define-color outline-variant {{colors.outline_variant.default.hex}};