@define-color accent #f2e1bb;
@define-color primary #ffe08f;
@define-color secondary #f2e1bb;
@define-color success #c9ecc8;
@define-color background #16130b;
@define-color surface #16130b;
@define-color surface-variant #4c4639;
@define-color on-primary #3d2e00;
@define-color on-secondary #392f15;
@define-color on-surface #eae1d4;
@define-color on-surface-variant #cfc5b4;
@define-color outline #989080;
@define-color outline-variant #4c4639;