@define-color accent #ffdcc0;
@define-color primary #ffdcc0;
@define-color secondary #ffdcc0;
@define-color success #dee8b3;
@define-color background #19120c;
@define-color surface #19120c;
@define-color surface-variant #51443a;
@define-color on-primary #4b2800;
@define-color on-secondary #412c19;
@define-color on-surface #efe0d5;
@define-color on-surface-variant #d5c3b6;
@define-color outline #9e8e81;
@define-color outline-variant #51443a;