@define-color accent #d4e4f6;
@define-color primary #cbe6ff;
@define-color secondary #d4e4f6;
@define-color success #ecdcff;
@define-color background #101417;
@define-color surface #101417;
@define-color surface-variant #41474d;
@define-color on-primary #003450;
@define-color on-secondary #22323f;
@define-color on-surface #e0e3e8;
@define-color on-surface-variant #c1c7ce;
@define-color outline #8b9198;
@define-color outline-variant #41474d;