@import "colors.css";

/* @define-color background rgba(60, 60, 60, 0.8); */
/* @define-color primary #c1e010; */
/* @define-color text_color #f2efdf; */
@define-color light_bg rgba(255, 255, 255, 0.12);
@define-color border_color rgba(255, 255, 255, 0.3);

* {
  margin: 0;
  font-family: "Rubik", "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 400;
  border: none;
  color: #f2efdf;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
  background-color: rgba(60, 60, 60, 0.8);
  border: 1px solid @border_color;
}

#custom-space {
  min-width: 60px;
}

#custom-separator {
  min-width: 12px;
  font-size: 10px;
  margin: 5px 0;
  font-weight: 800;
  color: #f2efdf;
  background-color: @light_bg;
}

tooltip {
  border-radius: 6px;
  background-color: @secondary;
  border: 1px solid @primary;
}

tooltip label {
  font-size: 13px;
  color: @background;
}
/* =============================== LEFT SECTION =============================== */

#custom-logo,
#custom-title {
  font-weight: 500;
  padding: 0 4px;
  border-radius: 0px;
  background-color: @light_bg;
}

#custom-logo {
  font-size: 20px;
  margin: 5px 0 5px 5px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: @primary;
}

#custom-title {
  margin: 5px 0 5px 0;
  padding-right: 8px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#memory {
  margin: 0 12px;
}

#temperature.critical,
#memory.critical,
#cpu.critical {
  color: #c40404;
}

#temperature.warning,
#memory.warning,
#cpu.warning {
  color: #cad806;
}
/* =============================== MIDDLE SECTION =============================== */
/* FOR APP ICONS */
/* #workspaces button {
  border-radius: 100%;
  margin: 4px 0;
  border: none;
} */

#workspaces {
  margin: 5px 0;
  border-radius: 4px;
  background-color: @light_bg;
}

#workspaces button {
  border-radius: 0;
  padding: 0 6px;
  min-width: 20px;
  transition: border 0.3s ease-in;
}

#workspaces button:hover {
  border-radius: 5px;
  color: @background;
  background-color: @primary;
}

#workspaces button.active {
  color: @primary;
  border-bottom: 2px solid @primary;
}

#workspaces button:nth-child(1).active {
  border-bottom-left-radius: 4px;
}
#workspaces button:nth-child(7).active {
  border-bottom-right-radius: 4px;
}

@keyframes switch {
  to {
    border: 2px solid rgba(0, 0, 51, 0);
    color: #000033;
  }
}

/* =============================== RIGHT SECTION =============================== */
#tray {
  margin-right: 8px;
}

#custom-weather {
  margin-left: 12px;
}

#custom-screenshot {
  font-size: 18px;
  margin: 5px 0 5px 8px;
  padding: 0 8px;
  border-radius: 5px;
}

#custom-screenshot:hover {
  transition: all 0.3s ease-in-out;
  background-color: @light_bg;
}

#bluetooth {
  font-size: 16px;
}

#bluetooth,
#network,
#custom-power {
  margin: 5px 0;
  min-width: 16px;
  padding: 0 4px;
  border-radius: 0px;
  background-color: @light_bg;
}

#bluetooth,
#custom-logo {
  padding: 0 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#custom-power {
  color: @primary;
  margin-right: 5px;
  padding: 0 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#menu {
  margin-top: 65px;
  margin-right: 0;
}
