@define-color background #232a2e;
@define-color text_color #f2efdf;
@define-color logo_color #dbbcf7;
@define-color hover_background #6a706b;
@define-color hover_text_color #dbbcf7;
@define-color tooltip_background #293136;
@define-color tooltip_border #dbbcf7;

* {
  min-height: 0;
  min-width: 0;
  font-family: "Rubik", "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 400;
  border: none;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, .15);
  background-color: @background;
}

#custom-logo {
  font-size: 22px;
  margin-left: 14px;
}

/* window#waybar.empty #window {
  background-color: @background;
} */

#temperature,
#cpu,
#window,
#network,
#memory,
#clock,
#pulseaudio,
#bluetooth,
#workspaces button,
#custom-notification,
#custom-weather {
  color: @text_color;
}

#window {
 
  min-width: 140px;
}

#workspaces {
  margin: 0 40px;
}

#workspaces button {
  border-radius: 100%;
  margin: 6px 0;
  min-width: 10px;
  border: none;
}

/* FOR APP ICONS */
/* #workspaces button {
  border-radius: 100%;
  margin: 4px 0;
  border: none;
} */


#workspaces button:hover,
#workspaces button.active {
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  background-color: @hover_background;
}

#custom-logo {
  color: #89b4fa;
}

#custom-notification {
  margin-top: 2px;
  margin-left: 60px;
}

#custom-space {
  min-width: 60px;
}

#bluetooth {
  /* padding: 0.3rem 0.6rem; */
  font-size: 18px;
  margin-top: 1px;
}


#network {
  margin-right: 4px;
  margin-left: 4px;
}


#custom-power {
  color: #f38ba8;
  margin-right: 14px;
}

tooltip {
  border-radius: 4px;
  background-color: @hover_background;
}