@define-color background rgba(60, 60, 60, 0.8); /* * #232a2e; * */
@define-color theme #c1e010;
@define-color text_color #f2efdf;
@define-color hover_background rgba(255, 255, 255, 0.12);
@define-color border rgba(255, 255, 255, 0.3);

* {
  margin: 0;
  font-family: "Rubik", "JetBrainsMono NFP";
  font-size: 14px;
  font-weight: 400;
  border: none;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
  background-color: @background;
  border: 1px solid @border;
}

#temperature,
#cpu,
#window,
#network,
#memory,
#disk,
#clock,
#pulseaudio,
#bluetooth,
#workspaces button,
#custom-notification,
#custom-weather,
#custom-power,
#custom-logo,
#custom-title,
#custom-screenshot {
  margin: 5px 0;
  padding: 0 6px;
  border-radius: 4px;
  color: @text_color;
}

#custom-space {
  min-width: 60px;
}

#custom-separator {
  min-width: 12px;
  font-size: 12px;
  margin: 5px 0;
  font-weight: 600;
  background-color: @hover_background;
  color: @theme;
}

tooltip {
  border-radius: 6px;
  border: 1px solid @border;
  background-color: @background;
}

/* =============================== LEFT SECTION =============================== */

#custom-logo,
#custom-title {
  font-weight: 500;
  padding: 0 4px;
  border-radius: 0px;
  background-color: @hover_background;
}

#custom-logo {
  color: @theme;
  font-size: 20px;
  margin-left: 5px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#custom-title {
  padding-right: 8px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#temperature.critical,
#memory.critical,
#cpu.critical {
  color: #c40404;
}

#temperature.warning,
#memory.warning,
#cpu.warning {
  color: #cad806;
}
/* =============================== MIDDLE SECTION =============================== */
button:hover {
  background-color: @hover_background;
}
#workspaces {
  /* padding: 0 6px; */
  margin: 6px 40px;
  border-radius: 6px;
  background-color: @hover_background;
}

#workspaces button {
  font-size: 8px;
  border-radius: 0;
  margin: 0;
  min-width: 18px;
  border: none;
  transition: all 0.3s ease-in;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* FOR APP ICONS */
/* #workspaces button {
  border-radius: 100%;
  margin: 4px 0;
  border: none;
} */

#workspaces button.active {
  font-size: 32px;
  /* transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1); */
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: @theme;
  background-color: @hover_background;
  border-bottom: 2px solid @hover_background;
}

@keyframes switch {
  to {
    border: 2px solid rgba(0, 0, 51, 0);
    color: #000033;
  }
}

/* =============================== RIGHT SECTION =============================== */
#tray {
  margin-right: 8px;
}

#bluetooth {
  font-size: 16px;
}

#custom-screenshot {
  font-size: 18px;
}
#custom-screenshot:hover {
  transition: all 0.3s ease-in-out;
  background-color: @hover_background;
}

#bluetooth,
#network,
#custom-power {
  min-width: 16px;
  padding: 0 4px;
  border-radius: 0px;
  background-color: @hover_background;
}

#bluetooth,
#custom-logo {
  padding: 0 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#custom-power {
  color: @theme;
  margin-right: 5px;
  padding: 0 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#menu {
  margin-top: 65px;
  margin-right: 0;
}
