@define-color accent #cfe9da;
@define-color primary #a7f2d0;
@define-color secondary #cfe9da;
@define-color success #c2e8fc;
@define-color background #0f1512;
@define-color surface #0f1512;
@define-color surface-variant #404944;
@define-color on-primary #003827;
@define-color on-secondary #1f352b;
@define-color on-surface #dee4df;
@define-color on-surface-variant #bfc9c2;
@define-color outline #89938d;
@define-color outline-variant #404944;